<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body><br><br><br>
    <h1 style="padding-left:25%;">
        This is my first
        <%= title %> JS project
    </h1>
    <p style="padding-left:30%;">Welcome to
        <%= title %> project that handles Students and Tutors (CRUD)

    </p>
    <p style="padding-left:45%;">
        <a class="btn btn-success " href="/student">View</a>
    </p>

</body>

</html>